/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #1f2933;
    color: #ffffff;
    text-align: center;
    padding: 2.5rem 1rem;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.1rem;
    opacity: 0.9;
}

/* section layout */
section {
    background-color: #ffffff;
    max-width: 900px;
    margin: 2rem auto;
    padding: 2 rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* section headings */
section h2 {
    color: #1f2933;
    margin-bottom: 1rem;
    border-left: 5px solid #3b82f6;
    padding-left: 0.75rem;
}

/* paragraphs */
section p {
    margin-bottom: 1rem;
}

/* Lists */
ul {
    list-style: none;
    padding-left: 0;
}

ul li{
    padding: 0.6rem 0;
    position: relative;
    padding-left: 1.5rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #1f2933;
    color: #ffffff;
    margin-top: 3rem;
    font-size: 0.9rem;;
}